<div class="header">
  <div class="title">
    <h1><%= @photo.title %></h1>
  </div>
  <div class="characters">
    <%= image_tag('waldo.jpg', alt: 'Picture of Waldo', class: 'character', id: 'Waldo') %>
    <%= image_tag('wenda.jpg', alt: 'Picture of Wenda', class: 'character', id: 'Wenda') %>
    <%= image_tag('whitebeard.jpg', alt: 'Picture of Wizard Whitebeard', class: 'character', id: 'Wizard Whitebeard') %>
    <%= image_tag('odlaw.jpg', alt: 'Picture of Odlaw', class: 'character', id: 'Odlaw') %>
  </div>
  <div class="home-link">
    <div id="links">
      <%= link_to "I quit. Take me home!", root_path %>
    </div>
  </div>
</div>

<div class="display">
  <div class="photo hor-center-flex">
    <%= image_tag(@photo.url, alt: @photo.title, id: 'photo') %>
  </div>
</div>

<div id="scoreForm"></div>

<%= content_tag :div, id: "characterInfo", data: {characters: @characters} do %>
<% end %>
<%= content_tag :div, id: "timeFactor", data: {time: @start_time} do %>
<% end %>
<%= content_tag :div, id: "photoID", data: {id: @photo.id} do %>
<% end %>